<h3>Esta aplicación ha sido desarrollada por:</h3>
	<div class="authors">
		<img src="/images/author1.jpg" width="68" height="100" att="Imagen de la autora de la aplicación" />
		<p>Eva Jurado Cortés</p>
	</div>
	<div class="authors">
		<img src="/images/author2.jpg" width="75" height="100" att="Imagen del autor de la aplicación" />
		<p>Federico A. Fernández Moreno</p>
	</div>