<div class="parallax-container">
    <div class="section">

		<h3 class="header center purple-text">Bienvenido a <%= title %></h3>
		<div class="row center">
			<h5 class="header purple-text darken-2">El portal donde podrás crear tus propios juegos!</h5>

			<div class="row center">
			  <a href="/user" class="btn-large waves-effect waves-light teal lighten-1">Regístrate ahora</a>
			</div>
		</div>
    </div>
    <div class="parallax"><img src="/images/questions.jpg" alt="Fondo de quizzes">
    </div>
</div>

<div class="container row section">

  <div class="col s12 m4">
    <div class="icon-block">
        <h2 class="center teal-text"><i class="mdi-content-create"></i></h2>
        <h5 class="center">Crea preguntas</h5>

        <p class="light">Escribe tus propias preguntas para que todo el mundo pueda contestarlas. Además, podrás marcar preguntas como favoritas para verlas de un vistazo.</p>
      </div>
  </div>
  <div class="col s12 m4">
	<div class="icon-block">
	    <h2 class="center teal-text"><i class="mdi-action-account-child"></i></h2>
	    <h5 class="center">Sé social</h5>

	    <p class="light">Contesta preguntas bien y tu sabiduría crecerá; hazlo de forma incorrecta y perderás puntos. ¿Quién de tus amigos será el más sabio?</p>
	  </div>
	</div>
  <div class="col s12 m4">
	<div class="icon-block">
	    <h2 class="center teal-text"><i class="mdi-action-settings"></i></h2>
	    <h5 class="center">Gestiona tu cuenta</h5>

	    <p class="light">Edita o borra tus preguntas, modera los comentarios que haga la comunidad o elige tu imagen de perfil. Podrás hacer todo esto cuando hayas iniciado sesión.</p>
	  </div>
	</div>

</div>

<div class="parallax-container">
    <div class="section">
    <br><br>
		<div class="row center container">
			<h5 class="light center white-text">Con nuevas funcionalidades respecto a la versión básica</h5>
		</div>
    </div>
    <div class="parallax"><img src="/images/design.jpg" alt="Fondo de quizzes">
    </div>
</div>

<div class="container row section">

 	<div class="col s12">
	    <ul class="collapsible" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header active"><i class="mdi-image-brush"></i><span class="left">Diseño</span></div>
		      <div class="collapsible-body">
		      	<p class="left">El nuevo diseño de Quiz está basado en Material Design. Es un diseño responsivo, que se adapta dinámicamente al tamaño de la pantalla para optimizarse según el dispositivo en que se utilice.<br><br>
		      	Las preguntas se presentan con tarjetas, la acción principal en una página se recoge en el botón de acción inferior derecho... En definitiva, los botones y toda la interfaz responden para realimentar al usuario.</p>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="mdi-image-image"></i><span class="left">Imágenes en preguntas</span></div>
		      <div class="collapsible-body"><p class="left">Las preguntas pueden contener una imagen relacionada, que se almacena en Cloudinary.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="mdi-social-group"></i><span class="left">Cuentas de usuario</span></div>
		      <div class="collapsible-body">
		      	<p class="left">Las cuentas de usuario han sufrido una renovación completa.<br><br>
		      	Ahora, los usuarios pueden tener una foto de perfil, que se almacena en Cloudinary. Además, no pueden modificar los parámetros de su cuenta si no introducen su contraseña antigua.</p>
	      	  </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="mdi-social-plus-one"></i><span class="left">Puntuación</span></div>
		      <div class="collapsible-body"><p class="left">Cada usuario tiene un campo "Sabiduría", en el que se almacenan sus fallos y aciertos al resolver las preguntas.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="mdi-editor-insert-chart"></i><span class="left">Estadísticas mejoradas</span></div>
		      <div class="collapsible-body"><p class="left">La vista de estadísticas incluye ahora un gráfico dinámico basado en la librería d3.js</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="mdi-device-now-widgets"></i><span class="left">Migraciones</span></div>
		      <div class="collapsible-body"><p class="left">Se han implementado Migraciones para que la modificación del modelo de datos sea más sencilla.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="mdi-file-cloud-upload"></i><span class="left">Cloudinary</span></div>
		      <div class="collapsible-body"><p class="left">Todas las imágenes, tanto las de las preguntas como las de perfil del usuario, se almacenan en Cloudinary, para evitar que se borren si el servidor falla.</p></div>
		    </li>
	  	</ul>
	</div>

</div>