<div class="parallax-container">
    <div class="section">

		<h3 class="header center teal-text">Bienvenido a <%= title %></h3>
		<div class="row center">
		<h5 class="header teal-text darken-2">El portal donde podrás crear tus propios juegos!</h5>

		<div class="row center">
		  <a href="/user" class="btn-large waves-effect waves-light teal lighten-1">Regístrate ahora</a>
		</div>
		</div>
    </div>
    <div class="parallax"><img src="/images/questions.jpg" alt="Fondo de quizzes">
    </div>
</div>

<div class="container row section">

  <div class="col s12 m4">
    <div class="icon-block">
        <h2 class="center teal-text"><i class="mdi-content-create"></i></h2>
        <h5 class="center">Crea preguntas</h5>

        <p class="light">Escribe tus propias preguntas para que todo el mundo pueda contestarlas. Además, podrás marcar preguntas como favoritas para verlas de un vistazo.</p>
      </div>
  </div>
  <div class="col s12 m4">
	<div class="icon-block">
	    <h2 class="center teal-text"><i class="mdi-action-account-child"></i></h2>
	    <h5 class="center">Sé social</h5>

	    <p class="light">Contesta preguntas bien y tu sabiduría crecerá; hazlo de forma incorrecta y perderás puntos. ¿Quién de tus amigos será el más sabio?</p>
	  </div>
	</div>
  <div class="col s12 m4">
	<div class="icon-block">
	    <h2 class="center teal-text"><i class="mdi-action-settings"></i></h2>
	    <h5 class="center">Gestiona tu cuenta</h5>

	    <p class="light">Edita o borra tus preguntas, modera los comentarios que haga la comunidad o elige tu imagen de perfil. Podrás hacer todo esto cuando hayas iniciado sesión.</p>
	  </div>
	</div>

</div>