<div class="row">
	<div class="input-field col s12">
		<i class="mdi-action-account-circle prefix"></i>
		<input type="text" id="username" name="user[username]" value="<%= user.username %>"/>
		<label for="username">Username</label>
	</div>

	<div class="input-field col s12">
		<i class="mdi-action-lock-outline prefix"></i>
		<input type="password" id="pass" name="user[password]"/>
		<label for="pass">Password</label>
	</div>

</div>

<div class="file-field input-field">
	<input class="file-path" type="text"/>
	<div class="btn">
        <span>Foto</span>
    	<input type="file" accept="image/*" id="image" name="image"/>
    </div>
</div>

<div class="row">
	<a type="button" href="/" class="btn waves-effect waves-light">Cancelar</a>
	<button class="btn waves-effect waves-light" type="submit" name="commit">Enviar<i class="mdi-content-send right"></i>
	</button>
</div>