<div class="container">
	<h5 class="header">Crear usuario</h5>
	<div class="container">
		<form method="post" action="/user" enctype="multipart/form-data">
			<% include _form.ejs %>
		</form>
	</div>
</div>